# System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log
npm-debug.log*

# Node modules (if any)
node_modules/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel & Firebase
.vercel
.firebase
